.side
  .side-header
    .side-header__name
      = current_user.name
    .side-header__icon
      = link_to new_group_path,class: "header__icon--kami" do
        = icon 'fas','edit',class: "icon-color"
        %span<>
      = link_to edit_user_path(current_user),class: "header__icon--haguruma" do
        = icon'fas','cog',class: "icon-color"
  .side-contents
    - current_user.groups.each do |group|
      .content
        = link_to group_messages_path(group) ,class:"content" do
          .content__name
            = group.name
          .content__message
            未実装
    
  
    
      
  
      