.main
  .main-header
    .main-header__left
      group name
      .main-header__left--member-list
        Member
      = link_to edit_group_path(current_user),class: "edit" do
        .main-header__edit-btn
          Edit
  .main-chat
    .main-chat-all
      .main-chat-all__name
        syouta 
        .main-chat-all__time
          2019/10/08/14:39
      .main-chat-all__letter
        this is a first message
  .main-form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :body,class:"input-textbox",placeholder: "text a message"
        %label.input-image
          = f.file_field :image
          = icon('fas', 'image')
        = f.submit"SEND",class:"input-send-btn"